# The database to connect to.
[database]
backend = "postgresql"
server = "127.0.0.1:5432"
username = "postgres"
password = "postgres"
database = "postgres"

# This part describes information about the server itself.
[server]
# The domain this server is running on, without trailing slash, lest you want to invoke horrible debugging
#  on yourself.
domain = "127.0.0.1:3000"

# The name that this server should show up as.
name = "Test instance"

# The description that this server shows up as.
description = "A test instance running Kroeg"

# If you want to host more than one Kroeg instance per database, ensure these values do not conflict.
# The instance ID is used internally to keep track of who owns which object. There is no logical difference between
#  running two Kroeg instances on a separate database, and hosting them on one database with separate instance ID,
#  except that they share knowledge about remote objects.
instance_id = 1

# Not used currently, but will be used to assign special meanings to authentication tokens.
admins = ["http://127.0.0.1:3000/admin"]
